[user]
  name = Alan Lee
  email = alanleunglee@gmail.com
[color]
  ui = true
[core]
  editor = nvim
  excludesfile = /Users/alan/.gitignore_global
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[credential]
  helper = osxkeychain
